USE [master]
GO
/****** Object:  Database [SushiRestaurant]    Script Date: 10/22/2018 17:01:49 ******/
CREATE DATABASE [SushiRestaurant] 
GO
USE SushiRestaurant
GO
CREATE TABLE [dbo].[Contact](
	[address] [varchar](150) NOT NULL,
	[tel] [varchar](150) NOT NULL,
	[email] [varchar](250) NOT NULL,
	[working] [varchar](450) NOT NULL,
	[map] [varchar](250) NOT NULL,
	[name] [varchar](150) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Contact] ([address], [tel], [email], [working], [map], [name]) VALUES (N'New York, NA, USA', N'12345', N'khuathoa141@gmail.com', N'Monday Closed<br>Tuesday 12 - 22<br>Wednesday 12 - 22<br>Thursday 12 - 22<br>Friday 11 - 23<br>Saturday 11 - 23<br>Sunday 11 - 22', N'map.png', N'The Sushi Restaurant:')
/****** Object:  Table [dbo].[Category]    Script Date: 10/22/2018 17:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[categoryId] [int] NOT NULL,
	[categoryName] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Category] ([categoryId], [categoryName]) VALUES (1, N'banner')
INSERT [dbo].[Category] ([categoryId], [categoryName]) VALUES (2, N'product')
INSERT [dbo].[Category] ([categoryId], [categoryName]) VALUES (3, N'menu')
/****** Object:  Table [dbo].[Entry]    Script Date: 10/22/2018 17:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Entry](
	[id] [int] NOT NULL,
	[categoryId] [int] NOT NULL,
	[title] [varchar](150) NULL,
	[imagePath] [varchar](250) NULL,
	[itemContent] [varchar](max) NULL,
	[price] [float] NULL,
	[shortContent] [varchar](max) NULL,
 CONSTRAINT [PK_Entry] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Entry] ([id], [categoryId], [title], [imagePath], [itemContent], [price], [shortContent]) VALUES (1, 1, NULL, N'sushi.jpg', NULL, NULL, NULL)
/****** Object:  ForeignKey [FK_Entry_Category]    Script Date: 10/22/2018 17:02:27 ******/
ALTER TABLE [dbo].[Entry]  WITH CHECK ADD  CONSTRAINT [FK_Entry_Category] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([categoryId])
GO
ALTER TABLE [dbo].[Entry] CHECK CONSTRAINT [FK_Entry_Category]
GO
