USE [master]
GO
/****** Object:  Database [CafeDB]    Script Date: 10/19/2018 11:29:47 ******/
CREATE DATABASE [CafeDB] 
GO
USE [CafeDB]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 10/19/2018 11:29:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Menu](
	[id] [int] NOT NULL,
	[title] [varchar](150) NOT NULL,
	[imagePath] [varchar](150) NOT NULL,
	[itemContent] [varchar](max) NOT NULL,
	[price] [float] NOT NULL,
	[date] [date] NOT NULL,
	[shortContent] [varchar](max) NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Information]    Script Date: 10/19/2018 11:29:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Information](
	[itemContent] [varchar](max) NOT NULL,
	[address] [varchar](150) NOT NULL,
	[phone] [varchar](150) NOT NULL,
	[message] [varchar](max) NOT NULL,
	[author] [varchar](150) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Information] ([itemContent], [address], [phone], [message], [author]) VALUES (N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit.', N'Gammel Torv, Copenhagen', N'12 1234 1234', N'Kind regards', N'Maria Bagnarelli')
/****** Object:  Table [dbo].[Entry]    Script Date: 10/19/2018 11:29:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Entry](
	[id] [int] NOT NULL,
	[categoryId] [int] NOT NULL,
	[name] [varchar](250) NOT NULL,
	[imagePath] [varchar](250) NOT NULL,
	[itemContent] [varchar](max) NOT NULL,
	[date] [date] NULL,
	[shortContent] [varchar](max) NULL,
 CONSTRAINT [PK_Entry] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 10/19/2018 11:29:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contact](
	[address] [varchar](150) NOT NULL,
	[tel] [varchar](150) NOT NULL,
	[email] [varchar](250) NOT NULL,
	[working] [varchar](450) NOT NULL,
	[map] [varchar](250) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Contact] ([address], [tel], [email], [working], [map]) VALUES (N'Copenhagen, Denmark', N'  123456', N'khuathoa141@gmail.com', N'Monday: Closed<br>Tuesday-Friday: 10:00-20:00<br>Saturday and Sunday: 11:00-21:00', N'map.png')
/****** Object:  Table [dbo].[Category]    Script Date: 10/19/2018 11:29:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] NOT NULL,
	[name] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Category] ([id], [name]) VALUES (1, N'introduction')
INSERT [dbo].[Category] ([id], [name]) VALUES (2, N'product')
